body.is-open-menu .btn-munu { z-index: 3; }
body.is-open-menu .btn-munu__ico rect { fill: white; }
body.is-open-menu .h_menu { z-index: 2; display: block; }

.btn-munu { position: absolute; top: 44px; right: 9px; width: 24px; height: 30px; border: none; cursor: pointer; background-color: transparent; display: none; }
.btn-munu:focus { outline: none; }
.btn-munu .btn-munu__ico { margin-left: -11px; }

.drop { display: none; }

.mob-show { display: none; }

.top-section-name { display: none; }

@media only screen and (max-width: 1024px) { .head, .center, .footer, .warning { width: auto; }
  .head { max-width: 942px; }
  .center { max-width: 940px; }
  .footer { max-width: 820px; }
  .warning { max-width: 818px; } }
@media only screen and (max-width: 960px) { body { overflow-x: hidden; }
  img { width: auto; max-width: 100%; min-width: 150px; }
  .top-section-name { padding: 0 0 10px; font-size: 35px; font-weight: bold; display: block; }
  .head, .center { max-width: 700px; }
  .head { margin-bottom: 0; padding: 20px 0 0; height: 77px; }
  .btn-munu { display: block; }
  .h_menu { position: absolute; top: 30px; right: -8px; padding: 62px 15px 20px; width: 176px; height: auto; background: #173885; border: none; box-shadow: 0 5px 16px rgba(7, 36, 106, 0.66); display: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .h_menu table td { padding: 8px 0; height: auto; border: none; font-size: 11px; white-space: normal; display: block; }
  .h_menu table td a { height: auto; font-weight: 100; text-align: right; line-height: 1.4; color: white; }
  .h_menu table td a:active { text-decoration: underline; }
  .h_menu table td b { padding: 0; font-weight: 100; background: none; }
  .h_menu table td div:hover ul { display: none; }
  .h_menu table td div:hover a { color: white; background: none; }
  .h_link { top: 61px; right: 302px; letter-spacing: -0.3px; }
  .search { top: 45px; right: 139px; }
  .lang { top: 45px; right: 60px; }
  .whi_mainbanner, .whi_mainbanner ul, .whi_mainbanner li { height: 268px; }
  .whi_mainbanner ul.slides { background-position-x: -112px; background-size: 100% 100%; }
  .whi_banner_content { display: none; }
  .whi_mainbanner ul.pager { margin: 244px 0 0 -400px; }
  .whi_mainbanner ul.pager li { height: 12px; width: 12px; background-size: cover; }
  .center h3, .center a.h3 { padding: 0 0 10px 0; font-size: 14px; letter-spacing: -0.4px; }
  .center h6 { margin: 0 0 27px 0; }
  .gal_menu a:first-child { margin-right: 9px; }
  .c_ul_txt { padding: 0 0 28px 0; }
  .c_ul_txt > li:nth-child(2) { margin-top: 62px; width: 100%; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; }
  .c_ul_txt > li:nth-child(2) .gal_menu { margin: 0 20px 15px 0; -webkit-order: 1; order: 1; width: 218px; }
  .c_ul_txt > li:nth-child(2) .tab_content { -webkit-order: 3; order: 3; width: 218px; }
  .c_ul_txt > li:nth-child(2) h6 { margin-bottom: 15px; -webkit-order: 2; order: 2; height: 31px; width: 66%; }
  .c_ul_txt > li:nth-child(2) .c_news { margin-left: 18px; -webkit-order: 4; order: 4; width: 66%; }
  .c_ul_txt li { letter-spacing: -0.2px; }
  .c_ul_txt li .c_txt_1 { background-position-x: 228px; }
  .c_ul_txt li .c_txt_1 > li:nth-child(2) { margin-left: 8px; }
  .c_ul_txt li .c_txt_1 li.f { padding-right: 6px; width: 225px !important; }
  .c_ul_txt li .c_txt_1 li.f h3 { padding-bottom: 17px; }
  .c_ul_txt li .c_txt_1 li ul li { padding: 15px 0 0 0; }
  .c_ul_txt li .c_galley { width: 200px; height: auto; }
  .c_ul_txt li .c_galley a.st_r, .c_ul_txt li .c_galley a.st_l { top: 55px; }
  .c_ul_txt li .c_galley .cg_ul { height: auto; }
  .c_ul_txt li .c_galley ul li { padding-right: 2px; }
  .c_ul_txt li .c_galley ul li div { margin: 0 auto; width: 182px; height: auto; }
  .c_ul_txt li .c_galley ul li img { width: 100%; }
  .c_ul_txt li .c_galley ul li > div a.li_layer { margin: 50px 0 0 43px; }
  .list_drg { margin-top: -20px; padding-right: 0; font-size: 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; }
  .list_drg li { float: none; margin: 20px 0 0; padding-right: 7px; width: 48%; font-size: 11px; display: inline-block; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .list_drg li:first-child { float: none; margin-top: 20px; width: 48%; height: auto; -webkit-order: 4; order: 4; }
  .list_drg li:first-child a { display: block; }
  .list_drg li h1 { padding-left: 0; }
  .list_drg li span { margin-left: -10px; }
  .list_drg li span img { min-width: 100px !important; }
  .footer { position: relative; padding: 0; max-width: 700px; height: 102px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; background-size: 100%; }
  .footer:before { position: absolute; content: ""; top: 0; left: -500px; right: 100%; bottom: 0; height: 102px; background: #2555a5 url(images/bg3.gif) repeat-x; background-size: 100%; }
  .footer:after { position: absolute; content: ""; top: 0; right: -500px; left: 100%; bottom: 0; height: 102px; background: #2555a5 url(images/bg3.gif) repeat-x; background-size: 100%; }
  .footer .warning { height: auto; font-size: 11px; color: white; }
  .footer .warning p { margin: 0; }
  .f_menu { margin-bottom: 10px; }
  .f_menu a { margin: 0 0 0 18px; }
  .f_menu a:first-child { margin-left: 0; }
  .create { padding: 0; top: 15px; right: 0; width: 160px; }
  .copy_r { width: 160px; }
  .global { margin: 0 auto; width: auto; max-width: 700px; }
  .global .center_col { width: 100%; }
  .l_menu { position: absolute; top: 100%; left: 0; right: 0; padding: 5px; width: auto; z-index: 200; float: none; border: 1px solid #cccccc; border-top: none; -moz-border-radius: 0 0 6px 6px; -webkit-border-radius: 0; border-radius: 0 0 6px 6px; background: white; display: none; }
  .drop { position: relative; margin-bottom: 10px; display: block; }
  .drop.is-open .l_menu { display: block; }
  .drop.is-open .drop__text { -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px; border-radius: 6px 6px 0 0; }
  .drop.is-open .drop__text:before { margin-top: -2px; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  .drop .drop__text { position: relative; color: #113a87; padding: 5px 15px; height: 17px; font-size: 14px; font-weight: bold; font-family: "PTSansRegular", sans-serif; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; cursor: pointer; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
  .drop .drop__text:before { position: absolute; content: ""; right: 8px; top: 50%; -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); width: 0px; height: 0px; border-style: solid; border-width: 5px 5px 0 5px; border-color: black transparent transparent transparent; }
  .head_h { margin-bottom: 30px; height: auto; }
  .head_h .hi_r { display: none; }
  .head_h .hi_c { padding: 15px 0; height: auto; font-size: 42px; }
  .breadcrumb-navigation { display: none; }
  .center_col { width: auto; }
  .center_col ul.tab_headers { padding: 0; margin: 10px 0; }
  .center_col ul.tab_headers li + li { margin-left: 3px; }
  .center_col ul.tab_headers li { font-size: 13px; }
  .par_carusel div { width: auto !important; }
  .par_carusel { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .par_carusel ul li { margin: 0 50px 0 30px; }
  .person-card { margin-top: 10px; width: 195px; }
  .person-card img { width: 100%; }
  .team { margin-top: 10px; }
  .prod_inf { margin-top: 8px; width: 100%; }
  .right_cont { float: none; width: 100%; }
  .prod_inf .tab_content { margin-bottom: 20px; }
  .prod_inf .p_img { height: auto; background: none; }
  .mf-captcha img { width: auto; }
  .press-kit form input[type=text] { width: 175px !important; }
  .par_carusel a.pc_r { z-index: 20; }
  .par_carusel.press-kit-carisel ul li { margin: 0 30px 0 60px; }
  .press-kit table img { width: auto; max-width: 100%; }
  .prod_inf { float: none; }
  .center_col .photos-list li { width: 128px !important; }
  .global .center_col ul.video-list li { margin: 0 0 0 1.2%; width: 19%; }
  .global .center_col ul.video-list li:first-child { margin-left: 0; }
  .center_col .mob-nav { margin-bottom: 10px; }
  .center_col .mob-nav li { margin: 10px 10px 0 0; padding: 0; display: inline-block; background: none; }
  .center_col .mob-nav sup { bottom: auto; }
  .career_slogans { width: 700px !important; }
  .career_slogans li { width: 646px !important; }
  .photos-list li .preview a img { min-width: 0 !important; }
  .center_col .photos-list h3 a { font-size: 12px; }
  ul.video-list li h3 a { font-size: 11px; }
  .fieldblock img { min-width: 0 !important; width: auto !important; }
  .table-contacts .td-img-zoom { width: auto !important; min-width: 59px !important; }
  .table-contacts .mob-hide { display: block; }
  .mob-hide { display: none; }
  .center_col ul.team li img { min-width: 0 !important; }
  .breadcrumb-navigation + h1 { display: none; } }
@media only screen and (max-width: 767px) { img { min-width: auto; }
  .head { padding-top: 12px; height: 120px; *zoom: 1; }
  .head:after { content: " "; display: table; clear: both; }
  .head .logo { margin-left: 12px; }
  .h_menu { right: auto; left: 0; top: 70px; }
  .h_menu table td a { text-align: left; }
  .whi_mainbanner, .search { display: none; }
  .h_link { top: 86px; right: 74px; }
  .lang { top: 16px; right: 9px; }
  .btn-munu { top: 78px; left: 30px; right: auto; width: 30px; }
  .center { padding: 0 12px 92px; }
  .center h6 { margin-bottom: 15px; font-size: 12px; }
  .center h3 { padding: 0; margin: 15px 0; }
  .center .c_ul_txt li .c_txt_1 li.f h3 { padding: 0; margin: 0 0 15px; }
  .c_ul_txt { padding: 0; }
  .c_ul_txt > li:nth-child(2) { margin-top: 35px; }
  .c_ul_txt > li:nth-child(2) .gal_menu { margin: 0; -webkit-order: 1; order: 1; width: 100%; }
  .c_ul_txt > li:nth-child(2) .tab_content { margin-top: 11px; order: 2; -webkit-order: 2; width: 100%; }
  .c_ul_txt > li:nth-child(2) h6 { margin-bottom: 0; order: 3; -webkit-order: 3; height: 31px; width: 100%; }
  .c_ul_txt > li:nth-child(2) .c_news { margin: 14px 0 25px; order: 4; -webkit-order: 4; width: 100%; }
  .c_ul_txt li .c_txt_1 { background: none; }
  .c_ul_txt li:first-child { float: none; margin: 0; width: 100%; }
  .c_ul_txt li .c_txt_1 > li, .c_ul_txt li .c_txt_1 > li.f, .c_ul_txt li .c_txt_1 > li:nth-child(2) { margin: 0; width: 100% !important; float: none; display: block; }
  .c_ul_txt li .c_txt_1 > li { margin-bottom: 20px; }
  .c_ul_txt li .c_txt_1 > li img { margin: 15px 0; }
  .c_ul_txt li .c_txt_1 li ul li, .c_ul_txt li .c_txt_1 li ul li:first-child { float: none; padding: 0; margin: 0; overflow: visible; width: 100%; display: block; }
  .c_ul_txt li .c_txt_1 li ul li:first-child img { margin: 5px 0; width: 100%; }
  .c_ul_txt li .c_txt_1 li ul li img { margin: 15px 0; float: none; }
  .list_drg li, .list_drg .list_drg li:first-child { width: 100%; margin-left: 0; }
  .footer { padding: 15px 12px 30px; height: auto; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; flex-direction: column; }
  .footer * { float: none; }
  .footer:before, .footer:after { display: none; }
  .footer .create { -webkit-order: 4; order: 4; line-height: 1.4; }
  .footer .copy_r { -webkit-order: 3; order: 3; line-height: 1.4; }
  .footer .f_menu { -webkit-order: 1; order: 1; line-height: 1.4; }
  .footer .f_menu a { margin-left: 3px; }
  .footer .f_menu a:first-child { margin-left: 0; }
  .footer .f_menu a.selected { padding: 2px; }
  .footer .warning { margin: 18px 0; order: 2; -webkit-order: 2; }
  .global { padding: 0 15px; }
  .center_col { float: none; }
  .center_col h1 { padding: 10px 0 15px; }
  .head_h { display: none; }
  .center_col ul.tab_headers li { margin: 10px 0 !important; float: none !important; height: auto !important; line-height: 1.4 !important; display: inline-block; }
  .center_col ul.tab_headers li:first-child { margin-top: 0; }
  .center_col ul.tab_headers { margin-top: 10px; }
  table td, table.white td { padding: 0; width: 100% !important; display: block; }
  table img, table.white img { display: block; }
  table.videomaterial { display: block; }
  table.videomaterial tr, table.videomaterial tbody, table.videomaterial td { display: block; width: 100%; }
  table.videomaterial .movie > div, table.videomaterial .movie > div > div, table.videomaterial .movie video, table.videomaterial .movie > div + div, table.videomaterial .movie > div + div > div { width: 100% !important; }
  .partner_all1 { float: none; }
  .par_carusel ul li { margin: 0; }
  .person-card { float: none; width: 100%; }
  .team { float: none; margin-right: 0; width: 100%; }
  .center_col ul.team li { float: none; padding: 0 0 5px 0; width: 100%; height: auto; *zoom: 1; }
  .center_col ul.team li:after { content: " "; display: table; clear: both; }
  .prod_inf .tab_content { width: 100%; }
  .prod_inf .p_img { margin: 0 0 17px; padding: 9px; height: auto; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .prod_inf .pinf_menu a { margin: 0; font-size: 13px; }
  .prod_inf .pinf_menu a b { padding: 0 5px; }
  .fancybox-outer { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .fancybox-wrap { right: 20px; width: auto !important; }
  .fancybox-inner { width: 100% !important; }
  .feedback input.inputtext, .feedback textarea { width: 100% !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .press-kit table td { padding-left: 0 !important; width: 100%; }
  .press-kit form input[type=text] { width: 120px !important; }
  .par_carusel.press-kit-carisel ul li { margin: 0 35px 0 0; }
  h3.slogan { font-size: 30px !important; }
  .faq { float: none; width: auto; }
  .faq .faqqui, .faq .faqqui1 { float: none; padding-left: 0; }
  .faq .faqqui li, .faq .faqqui1 li { width: auto; }
  .faq_aside_column a.faq { display: block; }
  .safety_form_column { margin-right: 0; float: none; width: auto; }
  .send_form .sf_c fieldset { margin: 0 0 0 1em; }
  .send_form .sf_c .txta, .send_form .sf_c .inputtextarea, .send_form .sf_c .in, .send_form .sf_c .inputtext, .send_form .sf_c .st, .send_form .sf_c .inputselect { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  table.cpolicy, .career_slogans { width: 100% !important; }
  table.cpolicy td + td { padding-left: 0 !important; }
  .career_slogans { display: none; }
  .career_policy section.contacts div.contacts { float: none; width: auto; }
  table.white td { padding: 5px 0 !important; }
  .press-kit-carisel { overflow: hidden; }
  .center_col .photos-list li { float: none !important; width: auto !important; margin-left: 0 !important; }
  .center_col .photos-list li a { display: inline-block !important; }
  .global .center_col ul.video-list li { margin: 0; width: 100%; }
  .table-contacts .pt10 { padding-top: 10px; }
  .table-contacts img { width: 100%; }
  .table-contacts .ymaps-map { width: 100% !important; }
  .table-contacts .td-map > ymaps { width: 100% !important; }
  .table-contacts .mob-show { padding: 10px 0; }
  .table-contacts .mob-show.mob-show_mod { padding-top: 0px; }
  .table-contacts .mob-hide { display: none; }
  .mob-show { display: block; }
  .news-detail > div, .news-detail > div > div, .news-detail video, .news-detail > div + div, .news-detail > div + div > div { width: 100% !important; }
  .glossary dt { margin-bottom: 6px; width: 100%; }
  .glossary dd { overflow: visible; }
  table.history tbody, table.history tr { display: block; }
  .photos-list li .preview a { height: auto !important; }
  .par_carusel ul li img { min-width: 0 !important; height: auto !important; }
  .par_carusel ul li a { min-height: 70px !important; }
  .center_col ul.partner li:first-child { margin-bottom: 20px; }
  .par_carusel a.pc_r, .par_carusel a.pc_l { top: 50%; margin-top: -16px; } }
